.satu {
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    margin-top: 100px;
    margin-bottom: 150px;
    margin-right: 50px;
}

.dua {
    width: 100%;
    height: 200px;
    background-color: lightblue;
}

.tiga {
    width: 50%;
    height: 50%;
    background-color: violet;
}